body {
    background-color: powderblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(49, 49, 145);
  }
  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }
  a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 96, 37);
  }